# PostgreSQL
POSTGRES_HOST=host_name_or_ip
POSTGRES_PORT=database_port
POSTGRES_DB=database_name
POSTGRES_USER=database_user
POSTGRES_PASSWORD=database_password
POSTGRES_HOST_PORT=host_port

# JWT
SECRET_KEY=secret_key_string
ALGORITHM=algorithm_name
ACCESS_TOKEN_EXPIRE_MINUTES=expiration_minutes

# Google OAuth
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret

# MongoDB
MONGO_HOST=mongo_host
MONGO_PORT=mongo_port
MONGO_DB=mongo_database_name
MONGO_USER=mongo_user
MONGO_PASSWORD=mongo_password
MONGO_EXTERNAL_PORT=mongo_external_port

# Docker & Ports
BACKEND_INTERNAL_PORT=backend_internal_port
BACKEND_EXTERNAL_PORT=backend_external_port
FRONTEND_INTERNAL_PORT=frontend_internal_port
FRONTEND_EXTERNAL_PORT=frontend_external_port


# API URLs
VITE_API_URL=api_url
