# Python
__pycache__/
*.py[cod]
*$py.class
.env

# IDEs y Editores
.vscode/
.idea/

# Sistema Operativo
.DS_Store
Thumbs.db

# Entornos y Paquetes
.pytest_cache/
.ruff_cache/
.mypy_cache/

# Otros
tempCodeRunnerFile.py

.venv/

# Logs
logs/
*.log

# Coverage reports
.coverage
htmlcov/

# Local databases
*.db
test.db

.coverage
test.db
