# --- Python ---
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
.venv/
.env

# --- IDEs y Editores ---
.vscode/
.idea/
.spyderproject
.spyproject
.ropeproject

# --- Base de Datos y Logs ---
*.sqlite3
*.db
*.log

# --- Sistema Operativo ---
.DS_Store
Thumbs.db
*.swp
*.swo

# --- Docker ---
.docker/
docker-compose.override.yml

# --- Entornos y Paquetes ---
build/
dist/
*.egg-info/
.eggs/
.pytest_cache/
.tox/
.nox/
.hypothesis/
.ruff_cache/
.mypy_cache/

# --- Otros ---
tempCodeRunnerFile.py
.pypirc