#Develop
ruff
black
mypy
bandit
pytest
pytest-cov

#Backend
fastapi[standard]
sqlalchemy
bcrypt
psycopg2-binary
pydantic-settings
uvicorn
email-validator
python-jose
authlib
redis
b2sdk
loguru
motor
itsdangerous

#AI/ML
transformers
torch
pillow
requests
huggingface-hub
